/*
No bullets.
================================================================================
*/

.t7-list--clean {
  margin-bottom: 10px;
}

.t7-list--clean > li {
  list-style: none;
  margin-left: 0;
  padding-bottom: 10px;
}