/*
Image figure.
================================================================================
*/

.isg-figure {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2px;
}

.isg-figure figcaption {
  background: #f6f6f6;
  padding: 2px 5px;
}

.isg-figure figcaption:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 2px;
}

.isg-figure figcaption:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: 2px;
}

.isg-figure img {
  width: 100%;
  height: auto;
}

.isg-figure > img:first-child,
.isg-figure > a:first-child img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.isg-figure > img:last-child,
.isg-figure > a:last-child img {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}