html,
body {
  overflow: hidden;
}

/*
App shell.
================================================================================
*/

.t7-app {
  overflow-x: hidden;
  overflow-y: scroll;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.t7-app a {
  color: #69c;
}

.t7-app a:hover {
  color: #c96;
}

/*
Wrapper. Used for "sticky footer" approach.
================================================================================
*/

@media (min-width: 768px) {
  .t7-app__wrapper {
    min-height: 100%;
  }
}

/*
Header.
================================================================================
*/

.t7-app__header {
  background: #f6f6f6;
  border-bottom: 1px solid #ddd;
  border-top: 5px solid #69c;
  line-height: 50px;
}

.t7-app__header ul {
  margin-bottom: 0;
}

.t7-app__header li {
  vertical-align: middle;
}

/*
Main.
================================================================================
*/

@media (min-width: 768px) {
  .t7-app__main {
    padding-top: 20px;
    padding-bottom: 200px;
  }
}

/*
Footer.
================================================================================
*/

.t7-app__footer {
  background: #ccc;
  border-top: 5px solid #69c;
  color: #999;

  line-height: 2;
  padding-top: 15px;

  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
}

@media (min-width: 768px) {
  .t7-app__footer {
    margin-top: -200px;
    height: 200px;
  }
}

.t7-app__footer a {
  color: #666;
}

.t7-app__footer a:hover {
  text-decoration: underline;
}

.t7-app__footer dt {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px;
  font-size: 150%;
}

.t7-app__footer dd {
  border-left: 1px solid #999;
  padding-left: 10px;
}