/*
App shell.
================================================================================
*/

.t7-app a {
  color: #69c;
  text-decoration: none;
}

.t7-app a:hover {
  color: #c96;
}

/*
Wrapper. Used for "sticky footer" approach.
================================================================================
*/

@media (min-width: 768px) {
  html,
  body {
    overflow: hidden;
  }

  html .t7-app {
    overflow-x: hidden;
    overflow-y: scroll;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  html .t7-app__wrapper {
    min-height: 100%;
  }
}

/*
Header.
================================================================================
*/

.t7-app__header {
  background: #f6f6f6;
  border-bottom: 1px solid #ddd;
  border-top: 5px solid #69c;
}

.t7-app__header__logo {
  background-image: url("./t7-app__header__logo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  color: transparent;
  display: inline-block;
  overflow: hidden;
  text-indent: -99999px;
  vertical-align: middle;

  width: 150px;
  height: 25px;
}

.t7-app__header ul {
  margin-bottom: 0;
}

.t7-app__header li {
  vertical-align: middle;
}

@media (max-width: 767px) {
  .t7-app__header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .t7-app__header ul {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .t7-app__header {
    line-height: 50px;
  }
}

/*
Main.
================================================================================
*/

.t7-app__main {
  padding-top: 20px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .t7-app__main {
    /*
      Footer height +10px.
    */
    padding-bottom: 210px;
  }
}

/*
Footer.
================================================================================
*/

.t7-app__footer {
  background: #eee;
  border-top: 5px solid #69c;
  color: #aaa;

  font-size: 12px;
  line-height: 2;
  padding-top: 15px;

  white-space: nowrap;
}

@media (min-width: 768px) {
  .t7-app__footer {
    margin-top: -200px;
    height: 200px;
  }
}

.t7-app__footer a {
  color: #777;
}

.t7-app__footer a:hover {
  color: #000;
}

.t7-app__footer dt {
  font-size: 150%;
  margin-bottom: 5px;
}