/*
Box: Default.
================================================================================
*/

.t7-box {
  border: 1px solid #ddd;
  border-radius: 3px;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  margin-bottom: 20px;

  overflow: hidden;
}

/*
Box: Shared styles.
================================================================================
*/

.t7-box--info--icon,
.t7-box--negative--icon,
.t7-box--positive--icon,
.t7-box--warn--icon {
  background-position: 20px 12px;
  background-repeat: no-repeat;
  background-size: 35px 35px;

  padding-left: 75px;
}

/*
Box: Info.
================================================================================
*/

.t7-box--info {
  composes: t7-box;

  background-color: #f6f9fc;
  border-color: #69c;
}

.t7-box--info--icon {
  composes: t7-box--info;

  background-image: url("./t7-box--info--icon.png");
}

/*
Box: Negative.
================================================================================
*/

.t7-box--negative {
  composes: t7-box;

  background-color: #fcf9f6;
  border-color: #c66;
}

.t7-box--negative--icon {
  composes: t7-box--negative;

  background-image: url("./t7-box--negative--icon.png");
}

/*
Box: Positive.
================================================================================
*/

.t7-box--positive {
  composes: t7-box;

  background-color: #f6fcf9;
  border-color: #693;
}

.t7-box--positive--icon {
  composes: t7-box--positive;

  background-image: url("./t7-box--positive--icon.png");
}

/*
Box: Warn.
================================================================================
*/

.t7-box--warn {
  composes: t7-box;

  background-color: #fcf9f6;
  border-color: #c96;
}

.t7-box--warn--icon {
  composes: t7-box--warn;

  background-image: url("./t7-box--warn--icon.png");
}