/*
Box: Default.
================================================================================
*/

.t7-box {
  border: 1px solid #ddd;
  border-radius: 3px;
  clear: both;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  margin-bottom: 20px;

  position: relative;
}

.t7-box[aria-hidden="true"] {
  display: none;
}

.t7-box:before,
.t7-box:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.t7-box:after {
  clear: both;
}

/*
Box: Fieldset & Legend.
================================================================================
*/

fieldset.t7-box {
  top: 15px;
  margin-bottom: 35px;

  padding-top: 30px;
}

.t7-box legend {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #999;

  font-family: Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 30px);

  position: absolute;
  top: -14px;
  left: 15px;

  padding: 2px 7px 1px;

  /*
    -1px less on the right, due
    to letter-spacing adding +1px.
  */
  padding-right: 6px;
}

/*
Box: Close "X".
================================================================================
*/

.t7-box__close {
  background-image: url("./t7-box__close.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center center;

  border-top-right-radius: 2px;
  border-bottom-left-radius: 3px;

  cursor: pointer;
  color: transparent;
  font-size: 0;
  line-height: 0;
  text-indent: -99999px;

  width: 16px;
  height: 16px;

  position: absolute;
  top: 1px;
  left: auto;
  right: 1px;
  bottom: auto;
}

.t7-box--info .t7-box__close {
  background-color: #69c;
}

.t7-box--negative .t7-box__close {
  background-color: #c66;
}

.t7-box--positive .t7-box__close {
  background-color: #693;
}

.t7-box--warn .t7-box__close {
  background-color: #c96;
}

/*
Box: Shared styles.
================================================================================
*/

.t7-box--info--icon,
.t7-box--negative--icon,
.t7-box--positive--icon,
.t7-box--warn--icon {
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: 35px 35px;

  padding-left: 75px;
}

/*
Box: Info.
================================================================================
*/

.t7-box--info {
  background-color: #f6f9fc;
  border-color: #69c;
}

.t7-box--info--icon {
  background-image: url("./t7-box--info--icon.svg");
}

.t7-box--info legend {
  border-color: #69c;
  color: #69c;
}

/*
Box: Negative.
================================================================================
*/

.t7-box--negative {
  background-color: #fcf9f6;
  border-color: #c66;
}

.t7-box--negative--icon {
  background-image: url("./t7-box--negative--icon.svg");
}

.t7-box--negative legend {
  border-color: #c66;
  color: #c66;
}

/*
Box: Positive.
================================================================================
*/

.t7-box--positive {
  background-color: #f6fcf9;
  border-color: #693;
}

.t7-box--positive--icon {
  background-image: url("./t7-box--positive--icon.svg");
}

.t7-box--positive legend {
  border-color: #693;
  color: #693;
}

/*
Box: Warn.
================================================================================
*/

.t7-box--warn {
  background-color: #fcf9f6;
  border-color: #c96;
}

.t7-box--warn--icon {
  background-image: url("./t7-box--warn--icon.svg");
}

.t7-box--warn legend {
  border-color: #c96;
  color: #c96;
}