/*
Search form table.
============================================================
*/

.t7-search-table {
  margin: 0;
  width: 100%;
}

.t7-search-table td + td {
  padding-left: 10px;
  width: 1%;
}