/*
Color swatch list.
============================================================
*/

.isg-color-list,
.isg-color-list__item {
  margin: 0;
  list-style: none;
}

.isg-color-list {
  font-size: 0;

  margin-top: -20px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px;

  overflow: hidden;
}

/*
List item.
============================================================
*/

.isg-color-list__item {
  display: inline-block;
  font-size: 13px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}

@media (max-width: 767px) {
  .isg-color-list__item {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .isg-color-list__item {
    width: 33.33333%;
  }
}

@media (min-width: 1025px) {
  .isg-color-list__item {
    width: 20%;
  }
}

/*
Color section.
============================================================
*/

.isg-color-list__section {
  border: 1px solid #ddd;
  border-radius: 4px;

  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;

  overflow: hidden;
}

/*
Color sample.
============================================================
*/

.isg-color-list__sample {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  overflow: hidden;
  padding-top: 50%;

  position: relative;
}

/*
Color hex value.
============================================================
*/

.isg-color-list__value {
  text-align: center;
  text-transform: lowercase;
  white-space: nowrap;

  margin-top: -12px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.isg-color-list__value code {
  background: rgba(255, 255, 255, 0.75);
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-radius: 10px;
  color: #000;
  font-size: 11px;

  display: inline-block;

  padding-left: 7px;
  padding-right: 7px;

  height: 20px;
  line-height: 21px;
}

/*
Title and description.
============================================================
*/

.isg-color-list__title {
  background: #fff;
  padding: 5px;
}

.isg-color-list__description {
  background: #f6f6f6;
  font-size: 11px;

  margin-left: -3px;
  margin-right: -3px;

  padding: 5px 8px;

  position: relative;
  z-index: 0;
}