/*
Shared layout styling.
================================================================================
*/

.isg-app,
.isg-app__header,
.isg-app__header__logo,
.isg-app__main,
.isg-app__sidebar,
.isg-app__footer {
  position: absolute;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}

/*
Outer app shell.
================================================================================
*/

.isg-app {
  overflow: hidden;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*
  Adjust offset for Unsemantic grid.
*/
.isg-app div[class*="grid-container"] {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 0;
  padding-right: 0;
  max-width: none;
}

/*
  Links.
*/

.isg-app a {
  color: #69c;
  text-decoration: none;
}

.isg-app a:hover {
  color: #c96;
}

/*
Header.
================================================================================
*/

.isg-app__header {
  background: #f6f6f6;
  border-bottom: 1px solid #ddd;

  padding-left: 20px;

  /* Room for T7 logo. */
  padding-right: 200px;

  height: 50px;
  line-height: 50px;

  top: 0;
  left: 0;
  right: 0;
}

.isg-app__header select {
  margin-top: 12px;
  vertical-align: top;
}

.isg-app__header__title {
  display: inline-block;
  font-size: 15px;
  color: #666;
  margin-right: 20px;
}

.isg-app__header__logo {
  background: url("./isg-app__header__logo.svg");
  background-size: 100% 100%;

  /* Hide text. */
  font-size: 0;
  color: transparent;
  overflow: hidden;
  text-indent: -99999px;

  /* Absolutely positioned. */
  top: 50%;
  right: 20px;

  /*
    Keep aspect ratio the same.
    Original size = (385 x 48).
  */
  width: 160px;
  height: 20px;

  /* 1/2 height. */
  margin-top: -10px;
}

/*
Sidebar.
================================================================================
*/

.isg-app__sidebar {
  background: #fff;
  border-right: 1px solid #ddd;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  overflow-x: hidden;
  overflow-y: scroll;

  width: 250px;

  top: 50px;
  left: 0;
  bottom: 30px;
}

.isg-app__sidebar ul,
.isg-app__sidebar li {
  margin: 0;
  list-style: none;
}

.isg-app__sidebar ul {
  margin-top: -20px;
  margin-right: -20px;
  margin-left: -20px;
}

.isg-app__sidebar a {
  border-bottom: 1px solid #ddd;
  display: block;
  color: #333;
  padding: 10px 20px;

  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}

.isg-app__sidebar a:hover {
  background: #ffd;
  color: #000;
  border-right: 5px solid #ddd;
  padding-left: 25px;
  padding-right: 15px;
}

/*
Main content area.
================================================================================
*/

.isg-app__main {
  background: #fff;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

  overflow-x: auto;
  overflow-y: scroll;

  top: 50px;
  left: 250px;
  right: 0;
  bottom: 30px;
}

/*
Footer.
================================================================================
*/

.isg-app__footer {
  background: #333;
  color: #999;

  font-size: 11px;

  padding-left: 20px;
  padding-right: 20px;

  height: 30px;
  line-height: 30px;

  left: 0;
  right: 0;
  bottom: 0;
}

/*
Adjust for mobile.
================================================================================
*/

@media (max-width: 767px) {
  .isg-app,
  .isg-app__header,
  .isg-app__main,
  .isg-app__footer {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }

  .isg-app__header__title,
  .isg-app__sidebar {
    display: none;
  }

  .isg-app__header__logo {
    width: 120px;
    height: 15px;
    margin-top: -7.5px;
  }

  .isg-app__main {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}