/*
Accordion.
================================================================================
*/

.t7-accordion {
  background: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 3px;
}

/*
Accordion header.
================================================================================
*/

.t7-accordion__header {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  background: #f6f6f6;
  border-top: 1px solid #ddd;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  outline: 0;
}

.t7-accordion__header:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 0;
}

.t7-accordion__header[aria-expanded="false"]:last-of-type {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.t7-accordion__header:hover {
  background: #ffd;
}

.t7-accordion__header:focus {
  box-shadow: #39f 0 0 2px 1px;
  position: relative;
  z-index: 1;
}

/*
Accordion panel.
================================================================================
*/

.t7-accordion__panel {
  background: #fff;
  overflow: hidden;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.t7-accordion__panel[aria-hidden="true"] {
  display: none;
}