/*
Image figure.
================================================================================
*/

.t7-figure {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2px;
}

.t7-figure figcaption {
  background: #f6f6f6;
  padding: 2px 5px;
}

.t7-figure figcaption:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 2px;
}

.t7-figure figcaption:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: 2px;
}

.t7-figure img {
  width: 100%;
  height: auto;
}

.t7-figure img:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.t7-figure img:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}