/*
D3.js - Tree Diagram.
================================================================================
*/

.t7-d3-tree-diagram {
  background: #fff;
  border: 1px solid;
  border-color: #ddd;
  border-radius: 4px;

  margin-bottom: 20px;
  padding-top: 56.25%;
  position: relative;

  overflow: hidden;
}

.t7-d3-tree-diagram__loading {
  margin-top: -15px;
  height: 30px;
  line-height: 30px;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
}

.t7-d3-tree-diagram svg {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  cursor: default;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.t7-d3-tree-diagram text {
  font-family: sans-serif;
}

.t7-d3-tree-diagram__rect {
  fill: #fff;
  stroke: #999;
  stroke-width: 1px;
}

.t7-d3-tree-diagram__rect--hover {
  fill: #f3f9ff;
  stroke: #53a7db;
}

.t7-d3-tree-diagram__link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
  /*shape-rendering: crispEdges;*/
}

.t7-d3-tree-diagram__toggle {
  cursor: pointer;

  stroke: #999;
  stroke-width: 1px;
}

.t7-d3-tree-diagram__name {
    font-size: 12px;
  font-weight: bold;
}

.t7-d3-tree-diagram__percent,
.t7-d3-tree-diagram__description {
  fill: #999;
  font-size: 11px;
}