/*
No bullets.
================================================================================
*/

.t7-list--clean {
  margin-bottom: 10px;
}

.t7-list--clean > li {
  list-style: none;
  margin-left: 0;
  padding-bottom: 10px;
}

/*
Inline list.
================================================================================
*/

.t7-list--inline {
  font-size: 0;

  margin-left: -10px;
  margin-bottom: 10px;
}

.t7-list--inline > li {
  font-size: 13px;

  display: inline-block;
  list-style: none;
  margin-left: 0;

  padding-left: 10px;
  padding-bottom: 10px;
}