/*
Shared layout styling.
================================================================================
*/

.t7-app,
.t7-app__header,
.t7-app__header__logo,
.t7-app__main,
.t7-app__sidebar,
.t7-app__footer {
  position: absolute;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}

/*
Outer app shell.
================================================================================
*/

.t7-app {
  overflow: hidden;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*
  Adjust offset for Unsemantic grid.
*/
.t7-app div[class*="grid-container"] {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 0;
  padding-right: 0;
  max-width: none;
}

/*
Header.
================================================================================
*/

.t7-app__header {
  background: #f6f6f6;
  border-bottom: 1px solid #ddd;

  padding-left: 20px;

  /* Room for T7 logo. */
  padding-right: 200px;

  height: 50px;
  line-height: 50px;

  top: 0;
  left: 0;
  right: 0;
}

.t7-app__header select {
  margin-left: 20px;
  vertical-align: top;

  position: relative;
  top: 12px;
}

.t7-app__header__title {
  font-size: 15px;
  color: #666;
}

.t7-app__header__logo {
  background: url("../images/t7-app__header__logo.svg");
  background-size: 100% 100%;

  /* Hide text. */
  font-size: 0;
  color: transparent;
  overflow: hidden;
  text-indent: -99999px;

  /* Absolutely positioned. */
  top: 50%;
  right: 20px;

  /*
    Keep aspect ratio the same.
    Original size = (385 x 48).
  */
  width: 160px;
  height: 20px;

  /* 1/2 height. */
  margin-top: -10px;
}

/*
Sidebar.
================================================================================
*/

.t7-app__sidebar {
  background: #fff;
  border-right: 1px solid #ddd;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  overflow-x: hidden;
  overflow-y: auto;

  width: 250px;

  top: 50px;
  left: 0;
  bottom: 30px;
}

/*
Main content area.
================================================================================
*/

.t7-app__main {
  background: #fff;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  overflow-x: auto;
  overflow-y: scroll;

  top: 50px;
  left: 250px;
  right: 0;
  bottom: 30px;
}

/*
Footer.
================================================================================
*/

.t7-app__footer {
  background: #333;
  color: #999;

  font-size: 11px;

  padding-left: 20px;
  padding-right: 20px;

  height: 30px;
  line-height: 30px;

  left: 0;
  right: 0;
  bottom: 0;
}