/*
Data table.
================================================================================
*/

.t7-table--data {
  border: 1px solid #ccc;
  width: 100%;
}

.t7-table--data th,
.t7-table--data td {
  padding: 2px 5px;
}

.t7-table--data th + th,
.t7-table--data td + td {
  border-left: 1px solid #ccc;
}

.t7-table--data th {
  background: #f6f6f6;
}

.t7-table--data td {
  border-top: 1px solid #ccc;
}