/*
Tabs group.
================================================================================
*/

.t7-tabs {
  overflow: hidden;
  margin-bottom: 20px;
}

/*
Tab list.
================================================================================
*/

.t7-tabs__item,
.t7-tabs__list {
  list-style: none;
  margin: 0;
}

.t7-tabs__list {
  font-size: 0;
  margin-bottom: -1px;
  padding-left: 15px;
  padding-right: 20px;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

.t7-tabs__item {
  display: inline-block;
  font-size: 13px;
  margin-left: 5px;
}

.t7-tabs__item--selected {
  composes: t7-tabs__item;
}

.t7-tabs__item a {
  background: #f6f6f6;
  border: 1px solid #ddd;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: block;
  padding: 5px 10px;
}

.t7-tabs__item a:hover {
  background: #ffd;
}

.t7-tabs__item--selected a {
  background: #fff;
  border-bottom-color: #fff;
}

/*
Tab panel.
================================================================================
*/

.t7-tabs__panel {
  display: none;
}

.t7-tabs__panel--selected {
  display: block;

  border: 1px solid #ddd;
  border-radius: 3px;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  z-index: 0;
}