/*
Form element "reset."
================================================================================
*/

/*
  Don't make edits to this style block,
  as it is simply intended to "undo" the
  default look and feel. Instead, make
  specific edits to "shared styles."
*/

.isg-form__button,
.isg-form__input,
.isg-form__select,
.isg-form__textarea {
  /* Undo Firefox defaults. */
  -moz-appearance: none;

  /* Undo WebKit defaults. */
  -webkit-appearance: none;

  /* Adjust background display. */
  background-clip: padding-box;

  background: none;
  border: 0;
  border-radius: 0;
  margin: 0;
  outline: 0;
  padding: 0;

  font-size: 13px;
  vertical-align: middle;
}

.isg-form__input::ms-clear,
.isg-form__input::ms-reveal,
.isg-form__select::-ms-expand {
  display: none;
}

.isg-form__input::-webkit-search-decoration {
  display: none;
}

.isg-form__input::-webkit-outer-spin-button,
.isg-form__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* For Firefox. */
@-moz-document url-prefix() {
  .isg-form__button:invalid,
  .isg-form__input:invalid,
  .isg-form__select:invalid,
  .isg-form__textarea:invalid {
    /*
      Suppress red glow that Firefox
      adds to form fields by default,
      even when user is still typing.
    */
    box-shadow: none;
  }

  .isg-form__button::-moz-focus-inner,
  .isg-form__input::-moz-focus-inner,
  .isg-form__select::-moz-focus-inner,
  .isg-form__textarea::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.isg-form__input::-webkit-input-placeholder,
.isg-form__textarea::-webkit-input-placeholder {
  color: inherit;
}

.isg-form__input::-moz-placeholder,
.isg-form__textarea::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.isg-form__input,
.isg-form__select,
.isg-form__textarea {
  line-height: 1.5;
}

.isg-form__button[class] {
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  width: auto;
  white-space: nowrap;
}

/*
Shared styles.
================================================================================
*/

.isg-form__input,
.isg-form__select,
.isg-form__textarea {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  color: #000;
  padding: 2px 5px;
  width: 100%;
}

.isg-form__input,
.isg-form__select {
  display: inline-block;
  height: 25px;
}

.isg-form__input:not([disabled]):active,
.isg-form__select:not([disabled]):active,
.isg-form__textarea:not([disabled]):active,
.isg-form__input:not([disabled]):focus,
.isg-form__select:not([disabled]):focus,
.isg-form__textarea:not([disabled]):focus {
  border-color: #39f;
  box-shadow: #39f 0 0 2px 0;
}

.isg-form__input--width-auto,
.isg-form__select--width-auto {
  width: auto;
}

br + .isg-form__input,
br + .isg-form__select,
br + .isg-form__textarea {
  margin-top: 5px;
}

*[class*="isg-form__"] + .isg-form__button,
*[class*="isg-form__"] + .isg-form__input,
*[class*="isg-form__"] + .isg-form__select {
  margin-left: 10px;
}

/*
Text area.
================================================================================
*/

.isg-form__textarea {
  clear: both;
  display: block;
  min-height: 63px;
}

div.isg-form__textarea {
  margin-bottom: 20px;
}

textarea.isg-form__textarea {
  resize: vertical;
}

/*
Select drop-down.
================================================================================
*/

/* For WebKit. */
@media (-webkit-min-device-pixel-ratio: 0) {
  .isg-form__select,
  .isg-form__select[size="0"],
  .isg-form__select[size="1"] {
    background-image: url("./isg-form__select.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 130%;

    padding-right: 30px;
  }
}

/* For Firefox. */
@-moz-document url-prefix() {
  .isg-form__select,
  .isg-form__select[size="0"],
  .isg-form__select[size="1"] {
    background-image: url("./isg-form__select.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 130%;

    padding-left: 1px;
    padding-right: 27px;
  }
}

/*
Button.
================================================================================
*/

.isg-form__button {
  border-radius: 3px;

  line-height: 25px;
  height: 25px;

  padding-left: 10px;
  padding-right: 10px;
}

/*
  Using `[class]` to override any inherited
  styles if this is applied to a link `<a>`.
*/
.isg-form__button[class],
.isg-form__button[class]:hover{
  color: #fff;
}

.isg-form__button:not([disabled]):active {
  position: relative;
  top: 1px;
}

.isg-form__button:not([disabled]):focus {
  box-shadow: #fff 0 0 0 1px, #39f 0 0 1px 2px;
}

/*
Button sizes.
================================================================================
*/

.isg-form__button--small {
  font-size: 11px;

  line-height: 20px;
  height: 20px;

  padding-left: 7px;
  padding-right: 7px;
}

.isg-form__button--big {
  font-size: 20px;

  line-height: 35px;
  height: 35px;
}

/*
Button mode.
================================================================================
*/

.isg-form__button--default {
  background: #888;
}

.isg-form__button--default:not([disabled]):active {
  background: #555;
}

.isg-form__button--primary {
  background: #69c;
}

.isg-form__button--primary:not([disabled]):active {
  background: #369;
}

.isg-form__button--positive {
  background: #693;
}

.isg-form__button--positive:not([disabled]):active {
  background: #360;
}

.isg-form__button--negative {
  background: #c66;
}

.isg-form__button--negative:not([disabled]):active {
  background: #933;
}

.isg-form__button--warn {
  background: #c96;
}

.isg-form__button--warn:not([disabled]):active {
  background: #963;
}

/*
Checkbox & Radio.
================================================================================
*/

.isg-form__radio,
.isg-form__checkbox {
  margin-left: 0;
  margin-right: 10px;
}

ul[class*="isg-list-inline"] li + li .isg-form__radio,
ul[class*="isg-list-inline"] li + li .isg-form__checkbox {
  margin-left: 10px;
}

/*
Disabled state.
================================================================================
*/

.isg-form__checkbox[disabled],
.isg-form__radio[disabled],
.isg-form__button[disabled],
.isg-form__input[disabled],
.isg-form__select[disabled],
.isg-form__textarea[disabled] {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: not-allowed;

  opacity: 0.5;
}