/*
Misc helper classes.
============================================================
*/

.isg-mute {
  color: #999;
}

.isg-capitalize {
  text-transform: capitalize;
}

.isg-uppercase {
  text-transform: uppercase;
}

.isg-lowercase {
  text-transform: lowercase;
}

.isg-font-normal {
  font-weight: normal;
}

/*
Float.
============================================================
*/

.isg-float-left {
  float: left;
}

.isg-float-right {
  float: right;
}

@media (max-width: 767px) {
  .isg-mobile-float-left {
    float: left;
  }

  .isg-mobile-float-right {
    float: right;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .isg-tablet-float-left {
    float: left;
  }

  .isg-tablet-float-right {
    float: right;
  }
}

@media (min-width: 1025px) {
  .isg-desktop-float-left {
    float: left;
  }

  .isg-desktop-float-right {
    float: right;
  }
}

/*
Text alignment.
============================================================
*/

.isg-align-center {
  text-align: center;
}

.isg-align-left {
  text-align: left;
}

.isg-align-right {
  float: right;
}

.isg-align-top {
  vertical-align: top;
}

.isg-align-middle {
  vertical-align: middle;
}

.isg-align-baseline {
  vertical-align: baseline;
}

.isg-align-bottom {
  vertical-align: bottom;
}

/*
Gutter: Top.
============================================================
*/

.isg-gutter-top {
  margin-top: 20px;
}

.isg-gutter-top--quarter {
  margin-top: 5px;
}

.isg-gutter-top--half {
  margin-top: 10px;
}

.isg-gutter-top--double {
  margin-top: 40px;
}

/*
Negative gutter: Top.
============================================================
*/

.isg-negative-gutter-top {
  margin-top: -20px;
}

.isg-negative-gutter-top--quarter {
  margin-top: -5px;
}

.isg-negative-gutter-top--half {
  margin-top: -10px;
}

.isg-negative-gutter-top--double {
  margin-top: -40px;
}

/*
Gutter: Left.
============================================================
*/

.isg-gutter-left {
  margin-left: 20px;
}

.isg-gutter-left--quarter {
  margin-left: 5px;
}

.isg-gutter-left--half {
  margin-left: 10px;
}

.isg-gutter-left--double {
  margin-left: 40px;
}

/*
Negative gutter: Left.
============================================================
*/

.isg-negative-gutter-left {
  margin-left: -20px;
}

.isg-negative-gutter-left--quarter {
  margin-left: -5px;
}

.isg-negative-gutter-left--half {
  margin-left: -10px;
}

.isg-negative-gutter-left--double {
  margin-left: -40px;
}

/*
Gutter: Right.
============================================================
*/

.isg-gutter-right {
  margin-right: 20px;
}

.isg-gutter-right--quarter {
  margin-right: 5px;
}

.isg-gutter-right--half {
  margin-right: 10px;
}

.isg-gutter-right--double {
  margin-right: 40px;
}

/*
Negative gutter: Right.
============================================================
*/

.isg-negative-gutter-right {
  margin-right: -20px;
}

.isg-negative-gutter-right--quarter {
  margin-right: -5px;
}

.isg-negative-gutter-right--half {
  margin-right: -10px;
}

.isg-negative-gutter-right--double {
  margin-right: -40px;
}

/*
Gutter: Bottom.
============================================================
*/

.isg-gutter-bottom {
  margin-bottom: 20px;
}

.isg-gutter-bottom--quarter {
  margin-bottom: 5px;
}

.isg-gutter-bottom--half {
  margin-bottom: 10px;
}

.isg-gutter-bottom--double {
  margin-bottom: 40px;
}

/*
Negative gutter: Bottom.
============================================================
*/

.isg-negative-gutter-bottom {
  margin-bottom: -20px;
}

.isg-negative-gutter-bottom--quarter {
  margin-bottom: -5px;
}

.isg-negative-gutter-bottom--half {
  margin-bottom: -10px;
}

.isg-negative-gutter-bottom--double {
  margin-bottom: -40px;
}